@using EntityLayer.Concrete
@model List<AppUser>  

@{
    Layout = "_AdminLayout";
}

<h1>Kullanıcı Listesi</h1>
<br/>
<a href="/Login/SignUp" class="btn btn-warning">Kullanıcı Ekle</a>
<br/>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Kullanıcı Adı</th>
        <th>E-Mail</th>
        <th>Telefon Numarası</th>
        <th>Sil</th>
        <th>Düzenle</th>
        <th>Yorumlar</th>
        <th>Tur Geçmişi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name @item.Surname</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>@item.PhoneNumber</td>
            <td><a onclick="return confirm('Bu kullanıcıyı silmek istediğinize emin misiniz?');" class="btn btn-outline-danger" href="/Admin/Command/DeleteUser/@item.Id">Sil</a></td>
            <td><a class="btn btn-outline-success" href="/Admin/Command/EditUser/@item.Id">Düzenle</a></td>
            <td><a class="btn btn-outline-info" href="/Admin/Command/CommandUser/@item.Id">Yorumlar</a></td>
            <td><a class="btn btn-outline-primary" href="/Admin/User/RezervationUser/@item.Id">Tur Geçmişi</a></td>
        </tr>
    }
</table>