@model EntityLayer.Concrete.Rezervation

@{
    Layout = "_MemberLayout";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Yeni rezervasyon sayfasi</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <p class="card-text">Traversal uzerinden yeni rezervasyon olusturabilirsiniz.</p>
                    <form method="post" id="reservationForm">
    
                        <div class="form-group">
                            @Html.Label("Lokasyon")
                            @Html.DropDownListFor(x => x.Destination, (List<SelectListItem>)ViewBag.v, new { @class = "form-control", @id = "destination" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Kişi Sayısı")
                            <input type="text" asp-for="PersonCount" id="personcount" class="form-control"/>
                        </div>
                        <div class="form-group">
                            @Html.Label("Tarih")
                            <input type="date" asp-for="RezervassyonDate" id="restime" class="form-control"/>
                        </div>
                        <div class="form-group">
                            @Html.Label("Varsa eklemek istedikleriniz")
                            <input type="text" asp-for="Description" id="description" class="form-control"/>
                        </div>
                        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#informationModal">Rezervasyon Yap</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="informationModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Dikkat!</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Şu anda yapacak olduğunuz rezervasyon, ilk önce moderatörlerimiz tarafından bir onay sürecine girecek olup
                    ondan sonrasında ise müşteri/alıcı ile iletişimi sağlanacaktır.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">İptal</button>
                <button type="button" onclick="postValues()" class="btn btn-primary">Kabul ediyorum</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="successModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Başarılı!</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Rezervasyon başvurunuz başarı ile iletilmiştir!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Mükemmel!</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function postValues(){
        let values = {
            Destination: $("#destination").val(),
            PersonCount: $("#personcount").val(),
            RezervassyonDate: $("#restime").val(),
            Description: $("#description").val(),
            Status: "Onay Bekliyor"
        };

        $.ajax({
            type: "POST",
            url: "/Member/Rezervation/NewRezervation",
            data: values,
            success: function (response) {
                $("#informationModal").modal('hide');
                $("#successModal").modal('show');
                setTimeout(function() {
                    window.location.href = "/Member/Rezervation/MyCurrentRezervation";
                }, 2000);
            },
            error: function (err) {
                console.log("Hata oluştu:", err);
            }
        });
    }
</script>


<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>