@model Traversal_Rezervasyon.Areas.Member.Models.UserEditViewModel

@{
    Layout = "_MemberLayout";
}

<h1>Profilim</h1>

<form method="post" enctype="multipart/form-data"> 
    @Html.Label("Adınız")
    <input type="text" asp-for="Name" class="form-control">
    <br/>
    @Html.Label("Soyadınız")
    <input type="text" asp-for="SurName" class="form-control">
    <br/>
    @Html.Label("Mail Adresiniz")
    <input type="text" asp-for="Mail" class="form-control">
    <br/>
    @Html.Label("Telefon Numaranız")
    <input type="text" asp-for="PhoneNumber" class="form-control">
    <br/>
    <div class="form-group">
        <label>Resim Seçiniz</label>
        <input type="file" asp-for="Image"/>
    </div>
    <br/>
    @Html.Label("Şifreniz")
    <input type="text" asp-for="Pasword" class="form-control">
    <br/>
    @Html.Label("Şifre Tekrar")
    <input type="text" asp-for="ConfirmPasword" class="form-control">
    <br/>
    <button class="btn btn-primary">Kaydet</button>
</form>

